@import url(./custom.css);
@import url(./root.css);
body,h1,h2,h4,p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.button{
    background-color: salmon;
    color: white;
    font-weight: 400;
}
.slider,p{
    font-family: 'Roboto', sans-serif;
    
}
.text{
    color: rgb(153, 151, 151);
}
.bg{
    background: url(../assets/slider-bg.svg);
}
.text{
    font-size: 30px;
}
.text-color{
    color: rgb(150, 149, 149);
}